.weather_box{
    margin: 1rem;
    padding: 1rem;
    align-items: center;
}
.weather_icon_box{
    display: inline-block;
    border-right: solid 1px #000000;
    margin-right: 0;
    padding: .8rem;
}
.weather_temp_box{
    display: inline-block;
    padding: .8rem;
    font-weight: bold;
}
main{
    padding: 0;
    margin: 0;
}
.container{
    background-image: url("../imgs/blob-0.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2.2rem;
}
.joke_box{
    width: 95%;
    margin: 3rem auto;
}
main h2{
    width: 85%;
    max-width: 350px;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
}
.joke_txt{
    display: none;
    width: 90%;
    max-width: 320px;
    text-align: center;
    font-size: 1rem;
    margin: 1rem auto;
    overflow: scroll;
    max-height: 160px;
}
.joke_value{
    display: none;
    justify-content: space-around;
    width: 50%;
    margin: 1rem auto;
}
.joke_value_btn{
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
}
.joke_value_btn:hover{
    font-size: 1.5rem;
}
.joke_btn{
    display: inline-block;
    background-color:#fdfd24ff;
    border-color: #ffbb00;
    border-radius: 25px;
    padding: .3rem;
    font-size: .8rem;
    font-weight: bold;
}
.joke_btn:hover{
    background-color:#FFFFFF;
    border-color: #000000;
}
@media only screen and (max-width:280px){
    .container{
        max-width: 200px;
    }
    .joke_box{
        max-width: 190px;
        margin: 1rem auto;
    }
    .joke_txt{
        overflow: scroll;
        max-width: 200px;
        max-height: 90px;
    }
}
@media only screen and (min-width:470px){
    .container{
        width: 70%;
        min-width: 400px;
        padding: 4rem;
    }
    .joke_box{
        width: 80%;
        min-width: 400px;
    }
    main h2{
        width: 90%;
        margin-bottom: 2rem;
    }
    .joke_txt{
        max-width: 370px;
        font-size: 1.2rem;
        margin: 2rem auto;
        overflow: auto;
        max-height: 170px;
    }
    .joke_value{
        margin: 2rem auto;
    }
    .joke_btn{
        padding: .8rem;
        font-size: 1rem;
    }
}